.red {
  background: #900;
}

.green {
  background: #090;
}

.blue {
  background: #009;
}

.wrapper {
  display:  flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

.green,
.red {
  flex: 1 1 50%;
}

.blue {
  flex:  1 1 100%;
}
